/* All styles for your Card Components live here */
/*** CardBanner begins *********/
.img-banner {
    width: 95%;
    margin-left: 8%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
/**** CardBanner ends **********/
/** CardContent begins *********/
.banner-bottom {
    width: 89%;
    margin-left: 8%;
    padding:0 0.85rem;
    border: 1px solid gainsboro;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.banner-bottom p {
    font-size: 0.80rem;
}