/************** NumberButton begins *******************************/

.button {
    border: 1px solid gray;
    font-size: 2.75rem; /** all buttons get same font-size **/
    height: 25%; /** all buttons get the same height **/
}

.one-wide .button {
    width: 25%; 
}
.three-wide .button {
    width: 75%;
    border-bottom: 2px solid gray;
}
/************** NumberButton Ends *********************************/
/************** ActionButton Start ********************************/
