/************** ButtonContainer Begins *****************************/
.one-wide, .three-wide {
    border-bottom: 2px solid gray;
    display: inline-block;
}

.one-wide {
    width: 25%;
}
.three-wide {
    width: 75%;
}
    
/************** ButtonContainer Ends ******************************/
/**************** Number Action mix *******************************/
.white-button, .red-button {
    border: 1px solid gray;
    font-size: 2.75rem; /** all buttons get same font-size **/
    height: 5rem; /** all buttons get the same height **/
    padding: 0;
    margin: 0;
}
/************** NumberButton begins *******************************/


.white-button {
    color: black;
    background-color: white;
}
/************** NumberButton Ends *********************************/
/************** ActionButton Start ********************************/
.red-button {
    color: white;
    background-color: #A0001E;
}