/************** NumberButton begins *******************************/

.white-button, .red-button {
    border: 1px solid gray;
    font-size: 2.75rem; /** all buttons get same font-size **/
    height: 5rem; /** all buttons get the same height **/
    padding: 0;
    margin: 0;
}

.one-wide {
    width: 25%; 
}
.three-wide {
    width: 75%;
    border-bottom: 2px solid gray;
}
/************** NumberButton Ends *********************************/
/************** ActionButton Start ********************************/
